pip-tools
tqdm

Fabric3 # tasks

requests
urllib3==1.24.2  ## via requests
pyquery
wget

pytest # testing

jupyter
notebook>=5.7.8
Jinja2==2.10.1

pandas # dataframes

matplotlib # plotting
plotly
seaborn

spacy # nlp
gensim


googlemaps>=3.0.2 # mapping using google api
