pip-tools
tqdm

Fabric3 # tasks
cryptography>=3.2  ## pinned for now, from Fabric3 via paramiko

requests
urllib3==1.24.2  ## via requests
pyquery
wget

pytest # testing

jupyter
notebook>=6.1.5
Jinja2==2.10.1

pandas # dataframes

matplotlib # plotting
plotly
seaborn

spacy # nlp
gensim

googlemaps>=3.0.2 # mapping using google api
